<h2>Histoires du genre : {{this.model.modelGenreUn.libelle}}</h2>

<div class="row">

{{#each this.model.modelGenreAll as |histoire|}}
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 p-0 mr-1 ml-1 mb-3">
    <div class="card-custom" id="{{histoire.uneHistoire.id}}">
      {{#if histoire.uneHistoire.image}}
        <img src="{{histoire.uneHistoire.image}}" class="card-img-top img-custom" alt="...">
      {{else}}
        <img src="https://via.placeholder.com/1080" class="card-img-top" alt="...">
      {{/if}}
      <div class="card-body bg-third">

        <LinkTo @route="histoires.detail" @model="{{histoire.uneHistoire.id}}">
          <h5 class="card-title ft-c-white text-center ft-small">{{histoire.uneHistoire.titre}}</h5>
        </LinkTo>
        <hr>
        <p class="card-text ft-c-white ft-small">{{histoire.uneHistoire.resume}}</p>

      </div>
    </div>
  </div>
{{/each}}
</div>