<div class="row">
  <div class="col-md-4 col-12">

    {{#if @model.image}}
      <img src="{{@model.image}}" class="card-img-top" alt="...">
    {{else}}
      <img src="https://via.placeholder.com/1080" class="card-img-top" alt="...">
    {{/if}}
  </div>
  <div class="col-md-8 col-12 mt-0 mb-0 m-auto">
    <p>{{@model.titre}}</p>
    <p>{{@model.resume}}</p>
    {{#if (eq @type "user")}}
    <button type="button" class="btn bg-third ft-c-light">Commencer à jouer !</button>
    {{/if}}
    <hr>
    {{#each @model.genres as |genre|}}
      {{#if genre}}
        <span class="genre">{{genre.libelle}}</span>
      {{/if}}
    {{/each}}
    {{#if (eq @type "author")}}
        <span class="genre">+</span>
    {{/if}}

  </div>
    {{yield}}
</div>